body {
  padding-bottom: 40px;
  background-color:  whitesmoke;
}

.bio{
  background-color:;
  border-radius: 1% 1% 1% 1%;
}

.eklogo{
  text-align: center;
}

.eklogo > img{
  height: 200px;
  width: 200px;
}

.head{
  text-align: center;
  font-size: 2rem;
}

.header{
  font-weight: bold;
}

.bd-list{
  font-weight: bold;
  font-size: 1.5rem;
}

.balance-sheet{
  font-weight: bold;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}